<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OCSA Scheduler, Version 1.0</title>
    <!-- CSS -->
    <!-- load Bootstrap and custom style.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="grid.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
</head>
<body>
<div class="container" ng-app="adminApp">
  
  <div class="page-header text-center">       
	<h1>OCSA Scheduler, Version 1.0</h1>
	<p>Simple view for now</p>
  </div>

  <div ng-controller="mainController">

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#users">Users</a></li>
        <li role="presentation"><a data-toggle="tab" href="#schedules">Schedules</a></li>
    </ul>
    <div class="tab-content">
        <div id="users" class="tab-pane fade in active">
            
        </div>
        <div id="schedules" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-heading">
              
            </div>
            <div class="panel-body">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>
                      &nbsp;
                    </th>
                    <th ng-repeat="day in days">
                      {{day.name}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="hour in hours">
                    <th>
                      {{hour.hour}}
                    </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <div class="btn-group pagebar" aria-label="First group" role="group">
                <button ng-repeat="hour in hours" class="btn btn-default" type="button">{{hour.hour}}</button>
            </div>
            <div>
              <p class="text-center">
                <a href="#" ng-click="reset()" class="btn btn-primary">Select</a>
              </p>            
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="ang-admin.js"></script>
<script>


var socket = io();
$('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');*/
  $('#messages').append($('<li>').text($('#m').val()));
    $('#m').val('');
    return false;
});
socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
});
</script></body>
</html>
